{% extends "base.html" %}

{% block title %}THIS IS ABOUT{% endblock title %}

{% block body %}  
<div class="container-fluid px-0"  >
    <img src="/static/7.jpeg"  class="d-block w-100" alt="">
    <h1 style="text-align: center;">About Us</h1>
    <ul>
        <li>Welcome to **ShoeVille**, your one-stop destination for all things footwear. We are a team of passionate shoe enthusiasts who believe that the right pair of shoes can make a world of difference.</li>
       
       <li> Founded in 2024, our mission is to provide high-quality, stylish, and comfortable shoes for every occasion. We understand that shoes are not just a fashion statement, but a necessity that carries you through your day. That's why we are committed to delivering shoes that not only look good but feel good too.
        </li>
      <li>At **ShoeVille**, we source our products from top manufacturers around the globe, ensuring that every pair meets our rigorous standards of quality and durability. We offer a wide range of styles, from casual sneakers and comfortable sandals to formal dress shoes and rugged boots. No matter your style or need, we've got you covered.</li>  
        
      <li> We believe in the power of community and strive to create a space where shoe lovers can come together, share their passion, and find their perfect pair. Our customer service team is always ready to assist you with any queries or concerns.</li> 
        
        <li>Join us on this journey, step into comfort, and stride with confidence. Welcome to **ShoeVille** - where every step matters!</li>
    </ul>
</div>
{% endblock body %}    
